PORT=3000
NODE_ENV={{ backend_node_env | default('production') }}
AWS_REGION={{ backend_aws_region | default('us-east-1') }}
AURORA_SECRET_NAME={{ backend_aurora_secret_name }}
S3_BUCKET_NAME={{ backend_s3_bucket_name }}
CLOUDFRONT_URL={{ backend_cloudfront_url }}
AUTH_PROVIDER={{ backend_auth_provider | default('cognito') }}
COGNITO_USER_POOL_ID={{ backend_cognito_user_pool_id }}
COGNITO_CLIENT_ID={{ backend_cognito_client_id }}
COGNITO_USER_POOL_ENDPOINT={{ backend_cognito_user_pool_endpoint | default('') }}
